<!-- <p>Test wyswietlenia klasy nauczyciela</p> -->
<!-- Trzeba dodać nauczyciela - ktory edytuje te klase. -->
<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% comment %}{% extends "base.html" %}{% endcomment %}
{% block content %}
<head>
<style>
    #school_year_logo {
        position: absolute;
        top: 60px;
        right: 10px;
    }
</style>
    <div id="school_year_logo">{{ school_class.school_year }}</div>
    <h2>Witaj w klasie: {{ school_class.name }}</h2>
    <h2>Przedmiot: {{ subject.name }}</h2>
</head>
<body>
    <p>Pierwszy semestr</p>
    <table border>
        <tr>
            <th bgcolor="GoldenRod">Uczniowie</th>
            {% for semester in semesters %}
                {% if semester.number == 1 %}
                    <th colspan = {{ col_span_1_sem }} bgcolor="BurlyWood">Oceny - semestr {{ semester.number }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for semester in semesters %}
            {% if semester.number == 1 %}
                {% for student in students_grades_1_sem %}
                    <tr>
                        <td bgcolor="Bisque">{{ student.0 }}</td>
                            <!-- to zamiast cyclowac w gradzie moze powinno w zbiorze jakos student-grade -->
                            {% for grade in student.1 %}
                                <td bgcolor="Cornsilk"><a href="{% url 'schoolregister:edit_grade' grade.id %}" value="{{ grade }}">{{ grade }}</a><br>
                                    {{ grade.description }}<br>
                                </td>
                            {% endfor %}
                            {% for to_max in student.2 %}
                                <td bgcolor="Cornsilk"></td>
                            {% endfor %}
                                <td bgcolor="Azure">
                                    Nowa ocena:
                                    <form method="post">
                                        {{ grade_form.as_p }}
                                        {% csrf_token %}
                                        <input type="hidden" name="school_year" value={{ school_class.school_year.id }} />
                                        <input type="hidden" name="semester" value={{ semester.id }} />
                                        <input type="hidden" name="subject" value={{ subject.id }} />
                                        <input type="hidden" name="student" value={{ student.0.id }} />
                                        <p><input type="submit" value="Dodaj"></p>
                                    </form>
                                </td>
                                <td bgcolor="FloralWhite">
                                    Średnia ocen: <br>
                                    {% if student.4 != None %}
                                        {{ student.4 }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td bgcolor="Gainsboro">
                                    Ocena końcowa: <br>
                                    {% if student.3 != None %}
                                        <a href="{% url 'schoolregister:edit_grade' student.3.id %}" value="{{ student.3 }}">{{ student.3 }}</a>
                                    {% else %}
                                        <form method="post">
                                            {{ final_grade_form.as_p }}
                                            {% csrf_token %}
                                            <input type="hidden" name="school_year" value={{ school_class.school_year.id }} />
                                            <input type="hidden" name="semester" value={{ semester.id }} />
                                            <input type="hidden" name="subject" value={{ subject.id }} />
                                            <input type="hidden" name="student" value={{ student.0.id }} />
                                            <input type="hidden" name="is_final_grade" value={{ True }} />
                                            <p><input type="submit" value="Dodaj"></p>
                                        </form>    
                                    {% endif %}
                                </td>
                {% endfor %}
            {% endif %}
        {% endfor %}
                </tr>
    </table>
    <p>Drugi semestr</p>          
    <table border>
        <tr>
            <th bgcolor="GoldenRod">Uczniowie</th>
            {% for semester in semesters %}
                {% if semester.number == 2 %}
                    <th colspan = {{ col_span_2_sem }} bgcolor="BurlyWood">Oceny - semestr {{ semester.number }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for semester in semesters %}
            {% if semester.number == 2 %}
                {% for student in students_grades_2_sem %}
                    <tr>
                        <td bgcolor="Bisque">{{ student.0 }}</td>
                            <!-- to zamiast cyclowac w gradzie moze powinno w zbiorze jakos student-grade -->
                            {% for grade in student.1 %}
                                <td bgcolor="Cornsilk"><a href="{% url 'schoolregister:edit_grade' grade.id %}" value="{{ grade }}">{{ grade }}</a><br>
                                    {{ grade.description }}<br>
                                </td>
                            {% endfor %}
                            {% for to_max2 in student.2 %}
                                <td bgcolor="Cornsilk"></td>
                            {% endfor %}
                                <td bgcolor="Azure">
                                    Nowa ocena:
                                    <form method="post">
                                        {{ grade_form.as_p }}
                                        {% csrf_token %}
                                        <input type="hidden" name="school_year" value={{ school_class.school_year.id }} />
                                        <input type="hidden" name="semester" value={{ semester.id }} />
                                        <input type="hidden" name="subject" value={{ subject.id }} />
                                        <input type="hidden" name="student" value={{ student.0.id }} />
                                        <p><input type="submit" value="Dodaj"></p>
                                    </form>
                                </td>
                                <td bgcolor="FloralWhite">
                                    Ocena końcowa:
                                </td>
                                <td bgcolor="Gainsboro">
                                    Średnia ocen:
                                </td>
                {% endfor %}
            {% endif %}
        {% endfor %}
                </tr>
    </table>
</body>
{% endblock %}
</html>