<!-- <p>Test wyswietlenia klasy nauczyciela</p> -->
<!-- Trzeba dodać nauczyciela - ktory edytuje te klase. -->
<!DOCTYPE html>
<html>

<head>
<style>
    #school_year_logo {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
    <div id="school_year_logo">{{ school_class.school_year }}</div>
    <h1>Witaj w klasie: {{ school_class.name }}</h1>
</head>
<body>
    <table border>
        <tr>
            <th></th>
            <th colspan={{ col_span_year }}>Oceny</th>
            {% if "{{ grades.school_year.semester.objects.get(pk=2) }}" > 1 %}
                <th>Semestr 2</th>
            {% endif %}
        </tr>
        <tr>
            <th>Students</th>
            {% for semester in semesters %}
                    {% if semester.number == 1 %}
                        <th colspan = {{ col_span_1_sem }}>Semestr {{ semester.number }}</th>
                    {% elif semester.number == 2 %}
                        <th colspan = {{ col_span_2_sem }}>Semestr {{ semester.number }}</th>
                    {% endif %}
            {% endfor %}
        </tr>
        {% for student in students_list %}
            <tr>
                <td>{{ student.full_name }}</td>
                    <!-- to zamiast cyclowac w gradzie moze powinno w zbiorze jakos student-grade -->
                    {% for semester in semesters %}
                        {% if semester.number == 1 %}
                            {% for grade in grades_list_1st %}
                                {% if grade.student == student and grade.subject == subject and grade.semester == semester %}
                                    <td>{{ grade.grade }}<br>
                                        {{ grade.description }}
                                        <!-- dodać formularz do edycji oceny -->
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                Nowa ocena:
                                <form method="post">
                                    {{ grade_form.as_p }}
                                    {% csrf_token %}
                                    <input type="hidden" name="school_year" value={{ school_class.school_year.id }} />
                                    <input type="hidden" name="semester" value={{ semester.id }} />
                                    <input type="hidden" name="subject" value={{ subject.id }} />
                                    <input type="hidden" name="student" value={{ student.id }} />
                                    <p><input type="submit" value="Dodaj"></p>
                                </form>
                            </td>
                            <td>
                                Ocena końcowa:
                            </td>
                            <td>
                                Średnia ocen:
                            </td>
                        {% elif semester.number == 2 %}
                            {% for grade in grades_list_2nd %}
                                {% if grade.student == student and grade.subject == subject and grade.semester == semester %}
                                    <td>{{ grade.grade }}<br>
                                        {{ grade.description }}
                                        <!-- dodać formularz do edycji oceny -->
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                Nowa ocena:
                                <form method="post">
                                    {{ grade_form.as_p }}
                                    {% csrf_token %}
                                    <input type="hidden" name="school_year" value={{ school_class.school_year.id }} />
                                    <input type="hidden" name="semester" value={{ semester.id }} />
                                    <input type="hidden" name="subject" value={{ subject.id }} />
                                    <input type="hidden" name="student" value={{ student.id }} />
                                    <p><input type="submit" value="Dodaj"></p>
                                </form>
                            </td>
                            <td>
                                Ocena końcowa:
                            </td>
                            <td>
                                Średnia ocen:
                            </td>
                        {% endif %}
                    {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>